<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    {{!-- Importing Favorite Icon of The Site --}}
    <link rel="icon" href="/img/weather.png" />
    {{!-- Importing Favorite Icon of The Site --}}

    {{!-- Importing The Bootstrap CSS Here --}}
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    {{!-- Importing The Bootstrap CSS Here --}}

    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    {{!-- Header Partial Here --}}
    {{>header}}
    {{!-- Header Partial Here --}}

    {{!-- Content Goes Here --}}
    <h1 class="h2 bg-primary text-white d-inline-block mt-5 mb- 2 p-2">About Me: </h1>
    <h4 class="text-muted">{{msg}}</h4>
    <hr />
    <div class="container-fluid">
        <div class="row py-3">
            <div class="col-12 col-sm-12 col-md-6 text-center">
                <img src="/img/me.png" class="img-fluid" alt="Andrew_Mead_Picture" title="andrew-mead" />
            </div>
            <div class="col-12 col-sm-12 col-md-6 text-center mt-2">
                <div
                    class="bg-primary text-white d-md-flex justify-content-center align-items-center w-100 h-100 d-sm-none">
                    <h4>Thank You 4 This Awesome Course</h4>
                </div>
            </div>
            <div class="col-12 pl-5">
                <h4 class="font-weight-bold text-primary my-2">Name: <span class="text-lead h5">{{name}} - </span><span
                        class="text-muted h5">{{job}}</span></h4>
                <h4 class="font-weight-bold text-primary">Age: <span class="text-lead h5">{{age}}</span></h4>
                <h4 class="font-weight-bold text-primary">Website: <a href={{website}} target="_blank"
                        class="text-lead h5">Mead.io</a>
                </h4>
            </div>
        </div>
    </div>
    {{!-- Content Goes Here --}}

    {{!-- Importing The jQuery / Popper / Bootstrap JS Files Here --}}
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    {{!-- Importing The jQuery / Popper / Bootstrap JS Files Here --}}

</body>

</html>